<section id="scraper">
    <p>Welcome! Enter a URL below and hit 'Go!' to check out its source code.</p>
    <form action="/scrape">
        <input type="url" value="<%= params[:url] %>" placeholder="http://www.google.com" name="url" required oninvalid="this.setCustomValidity('Enter a URL starting with http:// or https://')"
    oninput="setCustomValidity('')"/>
        <input type="submit" value="Go!"/>
    </form>
</section>

<section id="results">
    <%= erb :'_results', layout: false %>
</section>
